@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap");

@font-face {
  font-family: "Rift Soft Bold";
  src: url("/fonts/RiftSoft/RiftSoft-Bold.woff") format("woff"),
    url("/fonts/RiftSoft/RiftSoft-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bay-of-many: #283086;
  --blue-pigment: #373f97;
  --gigas: #424aa4;
  --chetwode-blue: #757dd8;
  --moody-blue: #727ad2;
  --perano: #b6bbf0;
  --fog: #dde0ff;
  --slight-titan-white: #ecedff;
  --titan-white: #f3f4ff;
  --cranberry: #db5493;
  --charm-pink: #e982b2;
  --azalea: #f2b4ce;
  --lavender-blush: #ffe9f2;
  --tutu: #fffbfd;
  --white: #ffffff;

  --font-rift-soft-bold: "Rift Soft Bold", sans-serif;
  --font-nunito-sans: "Nunito Sans", sans-serif;

  --timing-short: 100ms;
  --timing-medium: 180ms;
  --timing-long: 500ms;

  --base-fontsize: 10 !important;
  --base-design-width: 414;
  --base-design-width-desktop: 1440;
  --app-height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-nunito-sans);
  overscroll-behavior: none;
  font-size: calc(
    var(--base-fontsize) / var(--base-design-width) * 100vw
  ) !important;
}

@media screen and (min-width: 1024px) {
  html,
  body {
    font-size: calc(
      var(--base-fontsize) / var(--base-design-width-desktop) * 100vw
    ) !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
